.streamers-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .streamer-button {
    white-space: nowrap;
  
    color: black;
    height: auto;
    padding: 3px 3px;
    margin: 0 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
    width: auto;
  }
  
  .streamer-button:hover {
    background-color: #e0e0e0;
    color: darkblue;
  }
  
  .streamer-button.active {
    box-shadow: inset 0 -2px 5px 0 red;
  }
